.radial-gradient {
  background-image: radial-gradient(
    rgba(31, 55, 87, 1) 0%,
    rgba(19, 21, 55, 1) 100%
  );
}

#root {
  background-image: radial-gradient(
    rgba(31, 55, 87, 1) 0%,
    rgba(19, 21, 55, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

dialog:not([open]) {
  display: none;
}
